<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="master">
<body>
<main layout:fragment="content" style="padding-top: 70px;">
    <div class="col-12">
        <h2>Editar Especie</h2>
        <form th:object="${especie}" th:action="@{/especies/edit/} + ${especie.id}" method="post">
            <input type="hidden" th:field="*{id}">
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input autocomplete="off" autofocus th:field="*{nombre}" id="nombre"
                       placeholder="Nombre" type="text"
                       class="form-control" th:classappend="${#fields.hasErrors('nombre')} ? 'is-invalid' : ''">
                <div class="invalid-feedback" th:errors="*{nombre}"></div>
            </div>
            <div class="form-group">
                <label for="nombreCientifico">Nombre Cientifico</label>
                <input autocomplete="off" autofocus th:field="*{nombreCientifico}" id="nombreCientifico"
                       placeholder="Nombre Cientifico" type="text"
                       class="form-control" th:classappend="${#fields.hasErrors('nombreCientifico')} ? 'is-invalid' : ''">
                <div class="invalid-feedback" th:errors="*{nombreCientifico}"></div>
            </div>
            <div class="form-group">
                <label for="descripcion">Descripcion</label>
                <input autocomplete="off" autofocus th:field="*{descripcion}" id="descripcion"
                       placeholder="Descripcion" type="text"
                       class="form-control" th:classappend="${#fields.hasErrors('descripcion')} ? 'is-invalid' : ''">
                <div class="invalid-feedback" th:errors="*{descripcion}"></div>
            </div>
            <button class="btn btn-light" type="submit">Guardar</button>
            &nbsp;<a class="btn btn-light" th:href="@{/especies/show}">Cancelar</a>
        </form>
    </div>
</main>
</body>
</html>